.login-button {
  display: flex;
  justify-content: flex-end;
  margin:20px;
  gap: 10px;
}
.nav-section {
  display:flex;
  justify-content: center;
  align-items: center;
}
.menu-list {
  display:flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.menu-list li {
  padding: 10px;
}
.input-section {
  display:flex;
  justify-content: flex-end;
  align-items:center;
}
.input-box {
  width: fit-content;
  border-bottom: 1px solid black;
}
.input-button {
  margin-left: 10px;
  border: none;
}