.login-button {
  display: flex;
  justify-content: flex-end;
  margin:20px;
  gap: 10px;
}
.nav-section {
  display:flex;
  justify-content: center;
  align-items: center;
}
.menu-list {
  display:flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.menu-list li {
  padding: 10px;
}
.input-section {
  display:flex;
  justify-content: flex-end;
  align-items:center;
}
.input-box {
  width: fit-content;
  border-bottom: 1px solid black;
}
.input-button {
  margin-left: 10px;
  border: none;
}
.cursor-pointer {
  cursor: pointer;
}
.item-hover:hover {
  width: 350px;
  transition: all 0.3s;
}
.img-box {
  width: 300px;
  overflow: hidden;
}
.l-container {
  height: 50vh;
  gap: 10px;
}
.login-input {
  border: none;
}
.login-box {
  width: 350px;
  padding: 14px 8px;
  border-radius: 8px;
}
.login-btn {
  color: white;
  width: 350px;
  font-size: 18px;
  text-align:center;
  border-radius: 8px;
  border: none;
}
.m-menu-box {
  display: none;
}
.menu-container {
  position: relative;
}
.toggle-button {
  display: none;
}
@media (max-width: 600px) {
  .pc-menu-box {
    display: none;
  }
  .toggle-button {
    display: block;
  }
  .m-menu-box {
    display: block;
    width: 350px;
    background: rgb(128,128,128,0.5);
    position: absolute;
    z-index:100;
  }
  .m-menu-list {
    list-style-type: none;
  }
  .m-menu-list li {
    width: 50%;
    padding: 10px 0;
    text-align:center;
    background: white;
    font-size: 20px;
  }
  /* .toggle-button {
    position: absolute;
    right: 0;
  } */
}
